@mainFont: Pixelify Sans, Arial, sans-serif;
@mainTextColor: #fff;
@decoGreen:rgb(82, 109, 83);
@greenBg:rgb(160, 194, 160);

body{
    font-family: Pixelify Sans;
    background-color: @greenBg;
}

h3{
    font-size: 3em;
    color: @decoGreen;
    text-transform: uppercase;
}

form{
    text-transform: capitalize;
}

input{
    background-color: transparent;
    border-bottom: 1px solid rgb(143, 45, 74);
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: Pixelify Sans;
    
}

button{
    color: #fff;
    font-family: Pixelify Sans;
    text-transform: uppercase;
    background-color: @decoGreen;
}
