body {
  font-family: Pixelify Sans;
  background-color: #a0c2a0;
}
h3 {
  font-size: 3em;
  color: #526d53;
  text-transform: uppercase;
}
form {
  text-transform: capitalize;
}
input {
  background-color: transparent;
  border-bottom: 1px solid #8f2d4a;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: Pixelify Sans;
}
button {
  color: #fff;
  font-family: Pixelify Sans;
  text-transform: uppercase;
  background-color: #526d53;
}
.content {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
}
